asgiref==3.5.2
autopep8==1.6.0
backports.zoneinfo==0.2.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==4.0.5
django-heroku==0.3.1
gunicorn==20.1.0
Pillow==9.1.1
psycopg2==2.9.3
pycodestyle==2.8.0
pypng==0.0.21
PyQRCode==1.2.1
python-decouple==3.6
pyzbar==0.1.9
qrcode==7.3.1
sqlparse==0.4.2
static3==0.7.0
toml==0.10.2
whitenoise==6.2.0